<section class="page-content">
    <div class="common-limiter">
        <div class="form">
            <div class="field">
                <span class="label">Crossover</span>
                <input type="text" [(ngModel)]="crossover">
            </div>
            <div class="field">
                <span class="label">Mutação</span>
                <input type="text" [(ngModel)]="mutation">
            </div>
            <div class="field">
                <span class="label">Tam. População</span>
                <input type="text" [(ngModel)]="populationLength">
            </div>
            <div class="field">
                <span class="label">Max. Gerações</span>
                <input type="text" [(ngModel)]="maxGenerations">
            </div>

            <div class="field">
                <span class="label">Elitismo</span>
                <input type="checkbox" [(ngModel)]="eltismo" checked="{eltismo ? true : false}">
            </div>

            <button class="submit" (click)="onSubmit()">Iniciar</button>
        </div>

        <div class="maze">
            <div class="maze-item" *ngFor="let block of maze; let i = index " [ngClass]="{'border-bottom': i > 11 }">
                <div class="block" [ngClass]="{'w-top': block.wallTop, 'w-right': block.wallRight, 'w-bottom': block.wallBottom, 'w-left': block.wallLeft, 'active': block.active}"></div>
            </div>
        </div>

        <div class="debug">
            <p>Para considerar como solução é necessário ter aptidão = 0 e a última posição ser na linha 1 | coluna 4</p>
            <p>Aptidão = (qtd_paredes_atravessadas * 30) - (saidas_do_labirinto * 100) - (qtd_mesmo_caminho_andado * 10)</p>
            <p>
                <b>Exemplo ruim: </b>
                01 11 00 00 00 10 => (CIMA) (BAIXO) (DIREITA) (DIREITA) (DIREITA) (ESQUERDA)
                <br>
                Aptidão = (0) - (0) - (2*10) => <b>-20</b>
            </p>
            
            <p>
                <b>Exemplo ruim: </b>
                00 10 10 11 01 00 => (DIREITA) (ESQUERDA) (ESQUERDA) (BAIXO)  (CIMA) (DIREITA)
                <br>
                Aptidão = (1 * 30) - (2 * 100) - (2 * 10) => <b>-250</b>
            </p>

            <p>
                <b>Exemplo bom: </b>
                00 00 01 01 01 00 => (DIREITA) (DIREITA) (CIMA) (CIMA) (CIMA) (DIREITA)
                <br>
                Aptidão = (0) - (0) - (0) => <b>0</b>
            </p>

            
            <br>
            <br>
            <b>Gerações</b>
            <p *ngFor="let value of generations">{{value}}</p>
        </div>
    </div>
</section>